@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
body {
	font-family: Gentium Book plus, 'Times New Roman', Times, serif;
	background-color: black;
	color: white;
}
/* common styles */
img {
	width: 100%;
	border-radius: 20%;
}
.description {
	margin-top: 1.5rem;
	font-size: 1.8rem;
	font-weight: 800;
	font-style: italic;
	color: gray;
}
.title {
	color: #ff7623;
	font-weight: bold;
	font-size: 2rem;
	text-transform: uppercase;
}
.item_preTitle {
	font-size: 1.8rem;
	color: gray;
	font-style: italic;
	font-weight: bold;
}
.item_title {
	font-size: 1.7rem;
	color: white;
	font-weight: bold;
	margin: 0.5rem 0;
	font-style: italic;
	text-decoration: underline;
}
.item_subtitle {
	font-size: 1.6rem;
	color: grey;
	font-style: italic;
	font-weight: 700;
}

/* layouts */
.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: #070707;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		gap: 7rem;
	}
}
.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.group-1,
.group-2 {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
.group-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
	padding: 4px;
}
.group-3 > div {
	flex: 2;
}
@media only screen and (max-width: 768px) {
	.profile {
		margin-bottom: 0;
	}
	.group-3 {
		flex-direction: column;
	}
}
/* profile */
.profile_container {
	display: flex;
	gap: 3rem;
}
.profile_profileImg {
	max-width: 250px;
}
.profile_name_firstName {
	color: white;
	font-weight: 700;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}
.profile_name_lastName {
	color: #ff7623;
	font-weight: 800;
	font-size: clamp(1.6rem, 15vw, 6rem);
	text-transform: uppercase;
	display: block;
}
.profile_title {
	font-size: 1.6rem;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
	.profile_container {
		flex-direction: column;
	}
}
/* Expertise */
.skills_list {
	margin-top: 1rem;
	margin-left: 1.6rem;
	line-height: 2;
}
/* eduction */
.edu_item {
	margin-top: 1.2rem;
}
/* certification */
.certification_item {
	margin-top: 1.2rem;
}
.certificate{
	color: #ff7623;
	font-size: 2rem;
	font-weight: 700;
	font-style: italic;
	padding: 6px;
	background-color: #070707;
}
.certificate:hover{
	color: #ff7623;
	border: 2px solid;
	border-radius: 10px;
}

/* exp */
.exp_item {
	margin-top: 2rem;
}
/* Interests */
.interest_items {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
}
.interest_item {
	font-size: 1.8rem;
	font-weight: 600;
	font-style: italic;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	color: gray;
}
.interest_item svg {
	width: 2rem;
}
.interest_item:hover{
	color: #ff7623;
}
/* socials */
.social_items {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2.5rem;
	font-size: 1.8rem;
}
.social_item {
	margin-top: 1rem;
	font-size: 1.8rem;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
	display: flex;
	gap: 1rem;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: grey;
	transition: all 1s ease-in-out 0s;
}
.social_item:hover {
	color: #ff7623 ;
	padding: 0px 3px;
	margin: 1px 0;
	font-size: 2rem;
	transform: translate(15px);
}
.social_item svg {
	width: 2rem;
}
.bio_item{
	font-size: 2rem;
	font-weight: 600;
	font-style: italic;
	margin-top: 1rem;
	display: flex;
	gap: 5rem;
	color: gray;
	padding: 3px;
	text-align: justify;
}
.bio_items{
	font-size: 2rem;
	font-weight: 600;
	font-style: italic;
	display: flex;
	color: gray;
	align-items: center;
	justify-content: center;
	padding: 3px;
}
.contact{
	color: gray;
	font-size: 2rem;
	font-weight: 600;
	font-style: italic;
	margin-top: 1.5rem;
	gap: 1rem;
	display: flex;
	flex-direction: column;
}
